@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css');

* {
  margin: 0;
  padding: 0;
  outline-style: none;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
}
img {
  border: 0;
  vertical-align: middle;
}
button {
  background: transparent;
  cursor: pointer;
  border: 0;
}
pre {
  letter-spacing: -0.8px;
  line-height: 1.3;
}
html {
  min-width: 320px;
  height: 100%;
  font-size: 10px;
}
body {
  position: relative;
  font-family: 'SUITE', sans-serif;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #000;
  letter-spacing: -0.23px;
  word-break: keep-all;
}

#root {
  min-height: 100vh;
  background: linear-gradient(0deg, #345687 0%, #072045 100%) no-repeat;
}

/* SCROLL */
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
/* 스크롤바 색 */
::-webkit-scrollbar-button {
  display: none;
}
